h1 {
    font-weight: 500;
}
.mat-form-field {
    font-size: 22px;
    width: 500px;
    margin-bottom: 10px;
}
@media (max-width: 600px) {
    .mat-form-field {
        font-size: 18px;
        width: 280px;
    }
}