<div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="center start">
    <div fxFlex="80" fxLayout="column" fxLayoutAlign="center stretch">

        <h1 class="app-title">
            Usuarios
        </h1>

        <div fxFlex="auto" fxLayout="row wrap" fxLayoutAlign="space-between stretch">

            <app-card
                *ngFor="let user of usuarios"
                [usuario]="user"
                fxFlex="auto" 
                fxLayout="row"
                fxFlex="100"
                fxFlex.gt-md="24" 
                fxFlex.gt-sm="48" 
                fxFlex.gt-xs="48"
            ></app-card>

        </div>

    </div>
</div>
